﻿/* Import Bootstrap and font awesome */
@import "bootstrap.min.css";
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css");

.form-control::-webkit-input-placeholder {
	font-style: italic;
}

.form-control::-moz-placeholder {
	font-style: italic;
}

.form-control:-ms-input-placeholder {
	font-style: italic;
}

.form-control::-ms-input-placeholder {
	font-style: italic;
}

.form-control::placeholder {
	font-style: italic;
}

.tooltip-inner {
	min-width: 600px;
	text-align: left;
}
