<div class="control generated_text">
    <a href="#" onclick="return controlClicked(this)">
        <label for="generatedText{instanceCount}">Generated text {instanceCount}</label></a>

    <div>
        <div class="panel">
            <button class="generated_text_p btn btn-outline-info" onclick="$(this).parent().parent().find('.content').append('<p>paragraph</p>'); return false;">P</button>
            <button class="generated_text_h2 btn btn-outline-info" onclick="$(this).parent().parent().find('.content').append('<h2>H2</h2>'); return false;">H2</button>
            <button class="generated_text_h3 btn btn-outline-info" onclick="$(this).parent().parent().find('.content').append('<h3>H3</h3>'); return false;">H3</button>
            <button class="generated_text_2_col btn btn-outline-info" onclick="$(this).parent().parent().find('.content').append('<div class=\'row\'><div class=\'col col-md-6\'>left</div><div class=\'col col-md-6\'>right</div></div>'); return false;">2 COL</button>
            <button class="generated_text_a btn btn-outline-info" onclick="var url=prompt('Enter the URL:'); $(this).parent().parent().find('.content').append('&nbsp;<a href=\'' + url + '\'>description</a>&nbsp;'); return false;">A</button>
            <button class="generated_text_input btn btn-outline-info" onclick="var placeholder=prompt('Enter the placeholder:'); $(this).parent().parent().find('.content').append('&nbsp;<input type=\'text\' placeholder=\'' + placeholder + '\' />&nbsp;'); return false;">INPUT</button>
        </div>
        <div id="generatedText{instanceCount}" contenteditable="true" class="content">
            ...click here and enter some text abc...
        </div>
    </div>
</div>
