<div class="control paragraph">
    <a href="#" onclick="return controlClicked(this);">
        <label for="paragraph{instanceCount}">Paragraph {instanceCount}</label>
        <br>
        <textarea id="paragraph{instanceCount}" class="form-control" rows="10" cols="10" placeholder="enter some value"></textarea>
        <div class="clearfix"></div>
    </a>
</div>
