<div class="control section_block">
    <section id="sectionBlock{instanceCount}">
        <a href="#" onclick="return controlClicked(this)"><h3>Section {instanceCount}</h3></a>
        <div class="section_content">

        </div>
    </section>
</div>
