<div class="control single_line">
    <a href="#" onclick="return controlClicked(this)" class="row form-group">
        <label for="singleLine{instanceCount}" class="col-sm-2 col-form-label">Single line {instanceCount}</label>
        <input id="singleLine{instanceCount}" class="form-control col-sm-10" type="text" placeholder="enter some value" />
    </a>
</div>
