<p>Státnímu zastupitelství v...</p>

<p>Věc: <b>Oznámení o skutečnostech nasvědčujících tomu, že byl spáchán trestný čin</b></p>

<p>Ve smyslu § l58 odst. 1 zákona č. 141/1961 Sb., o trestním řízení soudním (trestní řád), v platném znění (dále jen „trestní řád“), podávám tímto trestní oznámení pro okolnosti nasvědčující tomu, že byl spáchán trestný čin podle § 329 zákona č. 40/2009 Sb., trestního zákona (dále jen „trestní zákon“) – zneužití pravomoci úřední osoby, a to neznámým pachatelem.</p>

<p>Odůvodnění: (stručné vylíčení události - dne toho a toho, tam a tam, došlo k tomu a tomu)</p>

<p>Svá tvrzení mohu já a další očití svědkové dokázat (navržené důkazy – svědecké výpovědi, písemné materiály a další návrhy, jak lze dokázat vaše tvrzení). Vzhledem k výše uvedeným okolnostem se domníváme, že tímto jednáním byla naplněna skutková podstata trestného činu zneužití pravomoci úřední osoby ve smyslu § 329 odst. 1 trestního zákona.</p>

<p>Žádám, abych byl v souladu s ustanovením § 158 odst. 2 trestního řádu ve lhůtě do 1 měsíce od obdržení tohoto oznámení vyrozuměn o učiněných opatřeních, a abych také byl vyrozuměn o případném odložení věci dle § 159a odst. 5 trestního řádu.</p>

<p>Přílohy: (listinné důkazy, fotografie a pod.)</p>
