<!-- jiny podnet -->
<p>tímto podávám podnět ve smyslu § 129 zákona č. 128/2000 Sb., zákon o obcích, aby krajský úřad prověřil postup obce [Název obce]. Tato obec se pravděpodobně dopouští protiprávního jednání tím, že [Protiprávní jednání].</p>
<p>Tímto jednáním obec [Název obce] porušuje ustanovení § [#] [Zákon].</p>
<p>Z tohoto důvodu žádám, aby krajský úřad prošetřil, zda je jednání obce v rozporu se zákonem a informoval obec [Název obce] o tom, zda je její postup nezákonný ve smyslu § 129a odst. 3 zákona o obcích. Kontrola by měly být zaměřena zejména na [Předmět kontroly].</p>