<!-- Select Template Modal -->
<div class="modal" id="selectTemplate">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Typ podání</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <!--
                <label for="legalCategory">Právo</label>
                <select id="legalCategory" class="form-control">
                    <option>Svobodný přístup k informacím</option>
                    <option>Správní</option>
                    <option>Trestní</option>
                </select>
                -->

                <label for="selectedTemplate">Zákon</label>
                <select id="selectedTemplate" class="form-control">
                    <optgroup label="Svobodný přístup k informacím">
                        <option value="svobodny_pristup_k_informacim/zadost_o_poskytnuti_informace">§13 žádost o poskytnutí informace</option>
                    </optgroup>
                    <optgroup label="Správní řád">
                        <option value="201" data-toggle="tooltip" data-placement="right" data-html="true" title="tooltip 1">§175 stížnost</option>
                        <option value="203">§202 podnět k zahájení řízení</option>
                        <option value="spravni_rad/zahajeni_rizeni_kontrola_cinnosti_organu_obce">§202 podnět k zahájení kontroly činnosti orgánů obce</option>
                        <option value="202">§79 ochrana před nečinností</option>

                        <option value="spravni_rad/jiny_podnet">jiný podnět (bude zařazen úřadem)</option>
                    </optgroup>
                    <optgroup label="Trestní zákoník">
                        <option value="trestni_zakonik/zneuziti_pravomoci_uredni_osoby">§329 zneužití pravomoci úřední osoby</option>
                    </optgroup>
                </select>
                <div id="templateTooltipContainer"></div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button id="selectTemplateModal" type="button" class="btn btn-outline-primary" data-dismiss="modal">Vybrat</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Zrušit</button>
            </div>

        </div>
    </div>
</div>

<script>
    $("#selectTemplateModal").click(function() {
        var templateIndex = $("#selectedTemplate").val();
        $("#templateContainer").load("resources/templates/" + templateIndex + ".html");
    });
    $("#selectTemplateModal").click();
</script>
<!-- End of Select Template Modal -->