﻿<fieldset>
	<legend>Žádost o poskytnutí informace podle <a href="https://www.zakonyprolidi.cz/cs/1999-106#p13" target="_blank">§ 13</a> zákona o svobodném přístupu k informacím</legend>

	nějaký popis
</fieldset>
